* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ნავიგაციის სივრცის სტილები */
.nav-div {
  max-width: 1920px;
  width: 100%;
  height: 387px;
  padding: 0 240px;
  background-color: #0020f4;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
}
a {
  color: #ffffff;
  text-decoration: none;
  padding-left: 42px;
  margin-top: 64px;
}
button {
  width: 160px;
  background-color: #ffffff;
  border-radius: 28px;
  margin-left: 42px;
}
.button-text {
  color: #171717;
  padding: 18px 18px 18px 18px;
}
.nav-section {
  display: flex;
  margin-top: 27px;
}
/* სტილები კონტენტისთვის(შუანაწილი) */
.main-content {
  max-width: 1920px;
  width: 100%;
  padding: 0 363px;
  background-color: #ffffff;
}
.article-image {
  top: 200px;
  position: relative;
  z-index: 10;
}
.article-image image {
  max-width: 1195px;
  width: 100%;
}
.article-pics {
  display: flex;
  justify-content: space-between;
  margin-top: 210px;
}
.article-pics image {
  width: 219px;
  height: 219px;
}
/* .information{
    max-width: 1195px;
    width: 100%;
    margin-right: 200px;
} */
@media (max-width: 1200px)
